{{- define "layout" -}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ block "title" . }}Unknown{{ end }} - Easy Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/layout_admin/layout_admin.css">
  {{ block "extra_css" . }}{{ end }}
</head>

<body>
  <header>
    <nav>
      <a href="/home">Back to Home</a>
      <button id="logoutBtn">Logout</button>
    </nav>
  </header>

  <main>
    {{ block "content" . }}{{ end }}
  </main>

  <dialog id="logoutDialog">
    <p id="logoutMessage">Confirm logout?</p>
    <div class="form-actions">
      <button id="logoutConfirmBtn" class="btn-confirm">Confirm</button>
      <button id="logoutCancelBtn" class="btn-cancel">Cancel</button>
    </div>
  </dialog>

  <dialog id="resultDialog">
    <p id="resultMessage"></p>
    <div class="form-actions">
      <button id="resultOkBtn" class="btn-ok">OK</button>
    </div>
  </dialog>

  <script src="/static/js/layout_admin/layout_admin.js"></script>
  {{ block "extra_js" . }}{{ end }}
</body>

</html>
{{- end -}}